.photo-gallery {
  width: 90%;
  margin: 100px auto;
}

.gallery-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas:
    "a a b b"
    "c d d g"
    "e f f f";
}

.item {
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}

.item1 { grid-area: a; background-image: url("/images/img1.png"); }
.item2 { grid-area: b; background-image: url("/images/img2.png"); }
.item3 { grid-area: c; background-image: url("/images/img3.png"); }
.item4 { grid-area: d; background-image: url("/images/img4.png"); }
.item5 { grid-area: e; background-image: url("/images/img5.png"); }
.item6 { grid-area: f; background-image: url("/images/img6.png"); }
.item7 { grid-area: g; background-image: url("/images/img7.png"); }

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-areas: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item {
    height: 200px;
  }
}
